<!--@subject PayByBank Confirmed Order@-->
<!--@vars
{"var ids":"Order IDs"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p><strong>Your order #{{var ids}} has been confirmed as paid.</strong></p>
            <p>Thank you for your payment.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
