<!--@subject PayByBank Confirmed Order@-->
<!--@vars
{"var ids":"Order IDs"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p><strong>Η παραγγελία σας με κωδικό #{{var ids}} έχει επιβεβαιωθεί.</strong></p>
            <p>Σας ευχαριστούμε για την πληρωμή σας.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
